body {
    background-color: #EAEAEA;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
*: focus {
    outline: 0 !important;
}
: : -webkit-input-placeholder {
    color: red;
}
: : -moz-placeholder {
    color: red;
}
header {
    /*margin:2px;*/
    background: -webkit-linear-gradient(right, #899293 10%, #000000);
    background: -o-linear-gradient(right, #899293 10%, #000000);
    background: linear-gradient(to left, #899293 10%, #000000);
    max-height: 120px;
    display: block;
    padding: 10px 4px;
    line-height: 2em;
    width: 100%;
    position: static;
    top: 0;
    color:#FFF;
}
h2 { text-align: center;}
input[type=search] {
    background: none;
    border-radius: 2px;
    border-width: 0;
    border: 2px solid gray;
    border: 2px solid #3D7A86;
    color: #DACB32;
    float: left;
    font: italic normal 1.2em sans-serif;
    height: 40px;
    left: 0;
    margin: 4px;
    width: 80%;
    outline: 0;
    position: relative;
    text-transform: lowercase;
    z-index: 1;
}
button {
    background-color: #2A2D4B;
    border-radius: .5em;
    border: 3px solid #cfcfcf;
    color: #ffffff;
    cursor: help;
    font-family: Georgia;
    height: 50px;
    /*padding: 3px;*/
    min-width: 100px;
    text-decoration: none;
    text-transform: uppercase;
}
button: focus {
    padding: 0;
    font-size: larger;
}
button: hover {
    background-color: #008ee6;
    border-color: #fff;
    border-radius: .5em;
}
button[type=submit] {
    cursor: pointer;
    /*border-style:none;*/

/*border-width:0;*/

padding: 0;
}
button[type=submit]: focus {
    padding: 0;
    /*border-radius: 3.5em;*/

/*border-style:none;*/
}
section{
    color: black;
    height: 100%;
    padding: .2em 1em;
    position: relative;
    top: 5%;
    padding-bottom: 10%;
    /* equal to footer height */
    margin-bottom: -70px;
    margin-top:11px;
}
