@charset "utf-8";
/* CSS Document */
body {
        background-color: #3C3A34; //#050404;
        font-size: 12px;
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, sans-serif;
        color:#000;
    }

* { margin: 0; padding: 0; }
a { color: #0C0C1B; text-decoration: none; cursor: pointer;}
a:hover { color:#fff; text-decoration: underline;}
a.edit { cursor: cell;}
a.del { cursor: not-allowed;}

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
/* LOGIN PAGE STYLE */
input {
    color: black;
    font-family: verdana;
    font-size: 1.2em;
    margin-top: 5px;
    text-align: left;
}
dl {
    float: right;
    margin-top: -10px;
}
dt {
    float: right;
    padding-bottom:2px;

}
fieldset {
    display: block;
/*    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;*/
    padding: .75em;
    margin: 2px;
    border: 2px groove threedface;
}
.loginform {
    border: 1px solid #3C4555;
    border-radius: 4px 4px 4px 4px;
    width: 270px;
    padding: 20px;
}
.input[type=button]:hover {
    background-color:rgba(255,204,0,0.8);
}
.spacer {
    padding-bottom:100px;
}
#date_input {
    background:transparent;
    border:none;
    text-align:center;
    color:#cccccc;
}
/* @LOGIN PAGE STYLE */

#content {
    /*height: auto; */
    width: 720px;
    margin: 20px auto;
}

header {
    background: #808080; height: 80px;margin: 0 0 15px 0;
}

.headerbar {
    /*background: linear-gradient(#DAE0D4, #8FF53E);*/
    background: linear-gradient(#9BA2A5, #799799);
    border-radius: 4px;
    text-indent: 10px;
    line-height: 32px;
    text-align: left;
    margin: 0 0 10px 0;
}
/*add project link*/
#add-more { float:right; margin-right:10px;}
.project-title {
    background-color: #1A1214;
    color: #FFF;
    padding: 9px 3px;
}
ul.project-list { list-style: none; text-align: center; border: 2px dashed #C99B9B; margin:20px 0;}
ul.project-list li { display: inline-block; width:32%; vertical-align: top;}

article.thumb {
    border: 2px groove #FFF;
    min-height: 150px;
    margin: 5px;
}

article.thumb:hover { background-color: #09090B; cursor: pointer; border: 1px groove #FFF; }

figure {  min-height: 150px; }
figure > img { height: auto; width:100%; }
figcaption { font-size: 11px; color: #fff; text-align: center; padding: 10px 0; position: relative; }
div.more { display: inline-block; }
.action-btn { position: absolute; top: -18px; right: 0; transition: ease-in-out .25s; }
.action-btn a { background: rgba(0,0,0,.5); margin: 10px 0; padding: 5px; }
.action-btn a:hover { background: #FFF; color: #000; }
.date-time { position: absolute; top: -28px; left: 0; background: rgba(0,0,0,.5); padding: 5px; font-size: 11px; text-align: center; color: #fff; }
.pagging { text-align: center; margin :4px;}
.pagging a { display: inline-block;}


