@charset "utf-8";
/* CSS Document */
body { background: #000; font-size: 12px; color: #fff; margin: 0; padding: 0; font-family: Verdana, Geneva, sans-serif; }
* { margin: 0; padding: 0; }
a { color: #fff; text-decoration: none; }
ul { list-style: none; text-align: center; }
li { display: inline-block;}

#content {
    height: auto; width: 720px; overflow: auto; margin: 0 auto
}

header {
    background: #808080;
    height: 80px;
    margin: 0 0 15px 0;
}

.headerbar {
    background: linear-gradient(#ececec, #000);
    border-radius: 4px;
    text-indent: 10px;
    line-height: 32px;
    text-align: left;
    margin: 0 0 10px 0;
}

#add-more { float:right; margin-right:10px;}

ul li { width:32%; vertical-align: top;}

article.thumb {
    border: 2px solid #FFF;
    min-height: 180px;
    margin: 4px;
    border: 2px solid #FFF;
    display: block;
}
figure {  min-height: 150px; }
figure > img { height: auto; width:100%; }
figcaption { font-size: 11px; color: #fff; text-align: center; padding: 10px 0; position: relative; }
div.more { display: none; }
.action-btn { position: absolute; top: -23px; right: 0; transition: ease-in-out .25s; }
.action-btn a { background: rgba(0,0,0,.5); margin: 10px 0; padding: 5px; }
.action-btn a:hover { background: #FFF; color: #000; }
.date-time { position: absolute; top: -28px; left: 0; background: rgba(0,0,0,.5); padding: 5px; font-size: 11px; text-align: center; color: #fff; }
article:hover .more{ display: block; transition: ease-in-out .25s; }
.pagging { text-align: center; margin :4px;}
.pagging a { display: inline-block;}


